{% include "page_pre" with {
    "page_catalog": true,
    "title": "Catalog",
    "path": "/catalog",
} %}
<main class="catalog-main">
    <form>
        {% if tag_only %}
            <h2>Tag - {{ tag.name }}</h2>
            <p>{{ tag.description }}</p>
        {% endif %}
        {% if artist_only %}<h2>Artist - {{ artist.name }}</h2>{% endif %}
        {% if year_only %}<h2>Murals from {{ search.year }}</h2>{% endif %}
        <section class="search-bar">
            <input
                type="search" name="query" value="{{ search.query }}"
                placeholder="Search..."
            ><label>Sort by: <select name="sort_by">
                    <option value="name"
                        {% if search.sort_by | equals: "name" %} selected {% endif %}
                    >Name</option>
                    <option value="newest"
                        {% if search.sort_by | equals: "newest" %} selected {% endif %}
                    >Newest</option>
                    <option value="oldest"
                        {% if search.sort_by | equals: "oldest" %} selected {% endif %}
                    >Oldest</option>
            </select></label><input type="submit" value="Search" />
        </section>
        <details {% if detailed_search %} open="true" {% endif %} >
            <summary>Detailed Search</summary>
            <label>Contains text: <input type="text" name="text"
                value="{{ search.text }}"
            /></label>
            <label>Has tag: <select name="tag">
                <option value=""
                    {% if search.tag | equals: "" %} selected {% endif %}
                ></option>
                {% for tag in tags %}
                    <option value="{{ tag.0 }}"
                        {% if search.tag | equals: tag.0 %} selected {% endif %}
                    >{{ tag.1.name }}</option>
                {% endfor %}
            </select></label>
            <label>Painted by: <select name="artist">
                <option value=""
                    {% if search.artist | equals: "" %} selected {% endif %}
                ></option>
                {% for artist in artists %}
                    <option value="{{ artist.0 }}"
                        {% if search.artist | equals: artist.0 %} selected {% endif %}
                    >{{ artist.1.name }}</option>
                {% endfor %}
            </select></label>
            <label>Minimum year: <input type="number" name="min_year" max="3000"
                {% if search.min_year %} value="{{ search.min_year }}" {% endif %}
            /></label>
            <label>Maximum year: <input type="number" name="max_year" max="3000"
                {% if search.max_year %} value="{{ search.max_year }}" {% endif %}
            /></label>
            <label>Year: <input type="number" name="year" max="3000"
                {% if search.year %} value="{{ search.year }}" {% endif %}
            /></label>
            <label>By decade: <input type="checkbox" name="by_decade" value="true"
                {% if search.by_decade %} checked="true" {% endif %}
            /></label>
        </details>
    </form>
    <section>
        {% if no_results %}
            No results!
        {% else %}
            {% for mural in murals %}
                {% include "mural_card" with mural %}
            {% endfor %}
        {% endif %}
    </section>
</main>
{% include "page_post" %}
