<!DOCTYPE html>
<html>
    <head>
        <title>{% if ?.title %} {{ title }} {% else %} TunnelVision {% endif %}</title>
        <!-- TODO: Open Graph tags -->
        <link rel="shortcut icon" href="/static/favicon.png">
        <link href="/static/style.css" rel="stylesheet" />
    </head>
    <body>
        <nav>
            <a href="todo">Tunnel<span class="navbar-active">Vision</span></a>
            <ul>
                <li><a href="/"
                    {% if ?.page_home %} class="navbar-active" {% endif %}
                >Home</a></li>
                <li><a href="todo"
                    {% if ?.page_catalog %} class="navbar-active" {% endif %}
                >Catalog</a></li>
                <li><a href="todo"
                    {% if ?.page_open_canvas %} class="navbar-active" {% endif %}
                >Open Canvas</a></li>
                <li><a href="todo"
                    {% if ?.page_about %} class="navbar-active" {% endif %}
                >About</a></li>
            </ul>
            <a href="todo">Github</a>
        </nav>
