<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
        <!-- TODO: Open Graph tags -->
        <link rel="shortcut icon" href="/static/favicon.png">
        <link href="/static/style.css" rel="stylesheet" />
    </head>
    <body>
        <nav>
            <a href="todo">Tunnel<span class="navbar-active">Vision</span></a>
            <ul>
                <li><a href="todo">Home</a></li>
                <li><a href="todo" class="navbar-active">Catalog</a></li>
                <li><a href="todo">Open Canvas</a></li>
                <li><a href="todo">About</a></li>
            </ul>
            <a href="todo">Github</a>
        </nav>
